/* heading */
.heading .heading-main .heading-img {
    filter: brightness(60%);
    width: 100%;
}

.heading .heading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading .heading-main .heading-text-box {
    color: white;
    text-align: center;
    position: absolute;
}

.heading .heading-main .heading-text-box .heading-text {
    padding: 10px 50px;
    position: relative;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 800;
}

/**************************************************/

/* new post form */

.form-group .form-layout .label {
    font-weight: 400;
    font-size: 18px;
}

.form-group .form-layout .field {
    padding: 5px 5px 5px 5px;
    font-weight: 500;
    font-size: 17px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}

.form-group .form-layout .files-selector {
    padding-bottom: 15px;
    font-weight: 600;
}

.form-group .form-layout .files-selector::file-selector-button {
    padding: 5px 10px 5px 10px;
    font-weight: 600;
    background: #3F4E4F;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.form-layout {
    margin: auto;
    padding-bottom: 40px;
    padding-top: 40px;
}

.form-group .form-layout .submit-btn {
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    border: none;
    background: #4E6C50;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 18px;
}


/**************************************************/