/* heading */
.heading .heading-main .heading-img {
    filter: brightness(60%);
    width: 100%;
}

.heading .heading-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.heading .heading-main .heading-text-box {
    color: white;
    text-align: center;
    position: absolute;
}

.heading .heading-main .heading-text-box .heading-text {
    padding: 10px 50px;
    position: relative;
    font-size: 70px;
    letter-spacing: 5px;
    font-weight: 800;
}

/**************************************************/

.submit-btn {
	padding: 10px 15px 10px 15px;
	background-color: #609966;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 600;
	color: white;
}