/* sign up form */

.login-section {
    background-color: #6ECCAF;
}

.login-main {
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}

.login-main h1 {
    font-size: 35px;
    padding-bottom: 25px;
}

.login-main form {
    display: inline-block;
    text-align: right;
}

.login-main form label {
    font-weight: 600;
}

.login-main form input:not([type="submit"]) {
    margin-bottom: 15px;
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 7px 7px 7px ;
}

.login-main form input[type="submit"] {
    padding: 7px 10px 7px 10px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    background: #344D67;
    color: #FFFFFF;
    text-align: center;
}

/**********************************************/